bank_modern_app/.firebaserc
bank_modern_app/firebase.json
bank_modern_app/.firebase/hosting.YnVpbGQ.cache
bank_modern_app/.firebase/hosting.ZGlzdA.cache
bank_modern_app/build/index.html
.vscode/settings.json
